
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Free version</h1>
    <img src="/factorymethod/getimagefree" />
    <h1>Paid version</h1>
    <img src="/factorymethod/getimagepaid" />
</body>
</html>
