@model ContactManager.Core.Order
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <h1>Success!</h1>
    <h2>Your order (# @Model.OrderId) has been placed successfully!</h2>
    <a asp-controller="Order" asp-action="Index">Go Back</a>
</body>
</html>
