
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Original Component</h1>
    <img src="/adapter/GetImageOwnComponent" />
    <h1>Third-party Component</h1>
    <img src="/adapter/GetImageThirdPartyComponent" />
</body>
</html>
